body{ background-color:#ffffff;

margin-left:150px;
margin-right:150px;}
h1{
	color: #1A1B41;
	font-family:'Playfair Display'serif;
	 }
 hr {
 	width:thick;
 }
a:hover {color: #1A1B41;}

.inline { 
display: inline; }

.center{ 
display: block; 
margin-left:auto;
margin-right:auto;
width: 60%;
}

h1,p,h2,h3,ul{
	text-align:center;}
	hr {}

.left {
	text-align:left;
}
	

li{
	list-style:none;
}

.headerGranola {
	background: url ("granola.jpg") no-repeat ;
	background-size: cover;
	height:400px;

}

.headerBread {
	background: url ("bread.jpg") no-repeat;
	background-size: cover;
	height:400px;
}
.headerBBread{
	background: url ("bananabread.jpg") no-repeat ;
	background-size: cover;
	height:400px;

}
