body{ backround-color:#ffffff;

}
h1{
	color: #1A1B41;
	font-family:'Playfair Display'serif;
	 }
 hr {
 	width:thick;
 }
a:hover {color: #1A1B41;}
ul li{ 
display: inline; }

.center{ 
display: block; 
margin-left:auto;
margin-right:auto;
width: 60%;
}
h1,p,ul {
	text-align:center;
	
}

.headerMarbledBananaBread {
	background: url ('bananabread.jpg') no-repeat ;

}



font-family: 'Playfair Display', serif;